@model IEnumerable<BusinessProject.DataModelLayer.Entities.RolePattern>

@{
    ViewData["Title"] = "Role pattern";
    int counter = 1;
}

<style>
    .swal2-content {
        font-size: 18px !important;
        color: #096060;
    }

    .swal2-icon {
        margin: 2px auto 3px !important;
    }
</style>
<div id="placeholder"></div>


<div class="public">
    <div class="public-header">
        <span>
            <i class="fa fa-users"></i>
            Display all positions in system
        </span>
    </div>
   
    <div>
        <a asp-action="AddRolePattern" asp-controller="RolePattern" class="btn btn-success margintop-20">
            <span class="mt-4">
                Add Position
                <i class="fa fa-plus-circle"></i>
            </span>
        </a>
    </div>
    <div style="border-radius: 2px; box-shadow: 3px 3px 1px 0 gray; padding:10px 5px; border: 1px solid gray; background-color:white;">
        <table class="table table-bordered table-hover table-striped" style="background-color:white !important; font-size:16px;border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
            <thead style="background-color:#096060; color:white;">
                <tr>
                    <td>NO</td>
                    <td>Position Name</td>
                    <td>Description</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@item.RolePatternName</td>
                        <td>@item.RolePatternDesc</td>
                        
                        
                        <td>
                            <div class="row" style="margin:0 !important">
                                <a asp-controller="RolePattern" asp-action="GiveRolesToPattern" 
                                   asp-route-RolePatternId="@item.RolePatternId"
                                   asp-route-RolePatternName="@item.RolePatternName"
                                   style="height:30px;  font-size:14px; margin-right:3px;"
                                   class="btn btn-info" title="Give Role to position">
                                    Give Role
                                    <i class="fa fa-universal-access"></i>
                                </a>
                                <a asp-controller="RolePattern" asp-action="Edit" asp-route-RolePatternId="@item.RolePatternId"
                                   style="height:30px;  font-size:14px; margin-right:3px;"
                                   class="btn btn-success" title="Update">
                                    Edit
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    counter++;
                }

            </tbody>
        </table>
    </div>

</div>


